body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar-containter{
    display: flex;
    justify-content: space-around;
    padding: 15px;

}

.menu-item {
    display: flex;
    list-style: none;
}

.menu-item li {

    margin:5px;
    padding: 10px;
    font-size: 18px;
}

.menu-item li:hover {
    color:blue;
    cursor: pointer;
}

.section-containter {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: #EFEDE5;
    align-items: center;
}

.left-banner-heading {
    font-size: 65px;
    color: #292726;
}

.left-banner-heading2 {
    font-size:65px ;
    color: #35cc00;
}

.join-now-button {
    padding: 12px 44px;
    background-color:#292726;
    color: #AEFF29;
    text-decoration: none;
    font-size:24px ;
}

/* second section area */

.section-facilites {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}


.facilities-heading {
    text-align: center;
    color: #35cc00;
    font-size: 64px;
    margin:0;
}

.facilities-text {
    text-align: center;
    color: #292726;
    font-size:16px;
}

/* Third section area */

.third_section {
    display: flex;
    justify-content: space-evenly;
}

.card-one {    
    width: 450px;
    height: auto;
    border: 2px solid none;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.card-one:hover {
    border: 1px solid black;
    margin-top: -10px;
}

.image-box {
    width: 150px;
    height: auto;

}

------------------

.card {
    width: 300px;
    height: auto;
    border: 2px solid red;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}